20190529 Training Tool.json
[{"id":"544f8302.625e74","type":"tab","label":"User Interface Control","disabled":false,"info":""},{"id":"b51eca81.686ea","type":"tab","label":"Dual","disabled":false,"info":""},{"id":"84bf2299.ff8948","type":"tab","label":"Unit 1","disabled":false,"info":""},{"id":"2dbcbfda.d7c6a","type":"tab","label":"Unit 2","disabled":false,"info":""},{"id":"7febcf1a.2b2de8","type":"tab","label":"Environmental/Record Keeping","disabled":false,"info":""},{"id":"595caada.3e86f4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b3c75798.de339","type":"ui_spacer","name":"spacer","group":"","order":22,"width":"1","height":1},{"id":"e502977f.839bd8","type":"ui_spacer","name":"spacer","group":"","order":7,"width":"6","height":1},{"id":"f80ff371.89bd","type":"ui_spacer","name":"spacer","group":"","order":12,"width":"6","height":1},{"id":"4fd72aa1.c172dc","type":"ui_group","z":"","name":"Tech Page","tab":"ba1592da.4d5ea8","order":3,"disp":false,"width":"6","collapse":false},{"id":"ba1592da.4d5ea8","type":"ui_tab","z":"","name":"Tech Page","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"a0805c5d.7e3e9","type":"ui_tab","z":"","name":"Dual Use","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"a01ac619.442a98","type":"ui_group","z":"","name":"KeyPad","tab":"ba1592da.4d5ea8","order":1,"disp":false,"width":"6","collapse":false},{"id":"5b127756.4a8bc","type":"ui_group","z":"","name":"Bad Key","tab":"ba1592da.4d5ea8","order":2,"disp":false,"width":"6","collapse":false},{"id":"68d20502.b98f0c","type":"ui_tab","z":"","name":"Start Page","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"86037920.66a578","type":"ui_group","z":"","name":"Set Date","tab":"68d20502.b98f0c","order":1,"disp":false,"width":"6","collapse":false},{"id":"4078e873.6e28e","type":"ui_group","z":"","name":"Set Time","tab":"68d20502.b98f0c","order":2,"disp":false,"width":"6","collapse":false},{"id":"21184af7.635366","type":"ui_spacer","name":"spacer","group":"99ac80c6.28913","order":22,"width":"2","height":"3"},{"id":"99ac80c6.28913","type":"ui_group","z":"","name":"Master Group","tab":"a0805c5d.7e3e9","order":1,"disp":false,"width":"6","collapse":false},{"id":"a7f2ed2b.d8735","type":"rpi-gpio out","z":"84bf2299.ff8948","name":"Unit 1 BLUE","pin":"12","set":true,"level":"0","freq":"","out":"out","x":650,"y":700,"wires":[]},{"id":"cdf33b57.0f15c8","type":"rpi-gpio out","z":"84bf2299.ff8948","name":"Unit 1 GREEN","pin":"16","set":true,"level":"0","freq":"","out":"out","x":660,"y":800,"wires":[]},{"id":"fe75d130.d40bb8","type":"rpi-gpio out","z":"84bf2299.ff8948","name":"Unit 1 AMBER 2","pin":"18","set":true,"level":"0","freq":"","out":"out","x":660,"y":900,"wires":[]},{"id":"7cd222b8.bbbc44","type":"rpi-gpio out","z":"84bf2299.ff8948","name":"Unit 1 AMBER 1","pin":"22","set":true,"level":"0","freq":"","out":"out","x":660,"y":1000,"wires":[]},{"id":"d892f241.ae8478","type":"rpi-gpio out","z":"84bf2299.ff8948","name":"Unit 1 RED 2","pin":"32","set":true,"level":"0","freq":"","out":"out","x":650,"y":1100,"wires":[]},{"id":"3f32efe0.eadc08","type":"rpi-gpio out","z":"84bf2299.ff8948","name":"Unit 1 RED 1","pin":"26","set":true,"level":"0","freq":"","out":"out","x":650,"y":1200,"wires":[]},{"id":"45df34de.df9a14","type":"rpi-gpio out","z":"2dbcbfda.d7c6a","name":"Unit 2 BLUE","pin":"7","set":true,"level":"0","freq":"","out":"out","x":650,"y":700,"wires":[]},{"id":"985d2beb.f681d","type":"rpi-gpio out","z":"2dbcbfda.d7c6a","name":"Unit 2 GREEN","pin":"11","set":true,"level":"0","freq":"","out":"out","x":660,"y":800,"wires":[]},{"id":"c15c31c0.badbb","type":"rpi-gpio out","z":"2dbcbfda.d7c6a","name":"Unit 2 AMBER 2","pin":"13","set":true,"level":"0","freq":"","out":"out","x":660,"y":900,"wires":[]},{"id":"3157bee2.cc57c2","type":"rpi-gpio out","z":"2dbcbfda.d7c6a","name":"Unit 2 AMBER 1","pin":"15","set":true,"level":"0","freq":"","out":"out","x":660,"y":1000,"wires":[]},{"id":"50a8e9cf.5db4d","type":"rpi-gpio out","z":"2dbcbfda.d7c6a","name":"Unit 2 RED 2","pin":"19","set":true,"level":"0","freq":"","out":"out","x":650,"y":1100,"wires":[]},{"id":"d0a89806.94b138","type":"rpi-gpio out","z":"2dbcbfda.d7c6a","name":"Unit 2 RED 1","pin":"21","set":true,"level":"0","freq":"","out":"out","x":650,"y":1200,"wires":[]},{"id":"11c9d507.478f8b","type":"ui_button","z":"84bf2299.ff8948","name":"LED 6 FB","group":"99ac80c6.28913","order":5,"width":"1","height":"1","passthru":false,"label":"{{text}}","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"","payloadType":"str","topic":"","x":880,"y":660,"wires":[[]]},{"id":"f4750f67.cee018","type":"ui_button","z":"84bf2299.ff8948","name":"LED 5 FB","group":"99ac80c6.28913","order":8,"width":"1","height":"1","passthru":false,"label":"{{text}}","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"","payloadType":"str","topic":"","x":880,"y":760,"wires":[[]]},{"id":"45b2513e.505a4","type":"ui_button","z":"84bf2299.ff8948","name":"LED 4 FB","group":"99ac80c6.28913","order":10,"width":"1","height":"1","passthru":false,"label":"{{text}}","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"","payloadType":"str","topic":"","x":880,"y":860,"wires":[[]]},{"id":"c2d29559.55255","type":"ui_button","z":"84bf2299.ff8948","name":"LED 3 FB","group":"99ac80c6.28913","order":12,"width":"1","height":"1","passthru":false,"label":"{{text}}","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"","payloadType":"str","topic":"","x":880,"y":960,"wires":[[]]},{"id":"b8ddb6ed.f1f18","type":"ui_button","z":"84bf2299.ff8948","name":"LED 2 FB","group":"99ac80c6.28913","order":15,"width":"1","height":"1","passthru":false,"label":"{{text}}","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"","payloadType":"str","topic":"","x":880,"y":1060,"wires":[[]]},{"id":"3719ba35.8183ce","type":"ui_button","z":"84bf2299.ff8948","name":"LED 1 FB","group":"99ac80c6.28913","order":18,"width":"1","height":"1","passthru":false,"label":"{{text}}","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"","payloadType":"str","topic":"","x":880,"y":1160,"wires":[[]]},{"id":"ba4a998c.0b8338","type":"link in","z":"84bf2299.ff8948","name":"Unit 1 Reset Link Out","links":["9c4bc36.2aa5c4","576355bb.4bb24c"],"x":435,"y":920,"wires":[["a7f2ed2b.d8735","cdf33b57.0f15c8","fe75d130.d40bb8","7cd222b8.bbbc44","d892f241.ae8478","3f32efe0.eadc08","60216f58.d4b4c8","89733a7b.d730a","4db6a30a.6389b4","403d24ca.47d1c4","23920c81.09a42c","f8240394.589bf"]]},{"id":"70ee742e.11d7fc","type":"link in","z":"84bf2299.ff8948","name":"Unit 1 Level Link Out","links":["6c8abd51.47232c","bed5edae.395438","105ae5c0.99585a"],"x":75,"y":920,"wires":[["bb569c00.c2f458"]]},{"id":"70c61505.21102c","type":"link out","z":"84bf2299.ff8948","name":"Unit 1 Complete Link In","links":["b74c8890.87bc68","1475f257.a3301e"],"x":595,"y":620,"wires":[]},{"id":"197f12b5.c30935","type":"ui_gauge","z":"84bf2299.ff8948","name":"Unit 1 Fill Level","group":"99ac80c6.28913","order":7,"width":"4","height":"3","gtype":"gage","title":"","label":"units","format":"{{value | number}}%","min":"0","max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"44","seg2":"83","x":900,"y":500,"wires":[]},{"id":"eaedb58.49eb7c8","type":"ui_button","z":"84bf2299.ff8948","name":"Unit 1 Reset","group":"99ac80c6.28913","order":4,"width":"2","height":"1","passthru":false,"label":"Set/Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"1","x":590,"y":320,"wires":[["b6b12aa4.540fd8","576355bb.4bb24c"]]},{"id":"affd6b2b.1b50f8","type":"ui_button","z":"84bf2299.ff8948","name":"Unit 1 Start","group":"99ac80c6.28913","order":3,"width":"2","height":"1","passthru":false,"label":"{{text}}","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"true","payloadType":"bool","topic":"1","x":930,"y":200,"wires":[["80aa4126.b3bd88"]]},{"id":"f3d2a1ab.a104","type":"ui_text","z":"84bf2299.ff8948","group":"99ac80c6.28913","order":14,"width":"4","height":"1","name":"Unit 1 Time","label":"Time","format":"{{msg.time}}","layout":"row-spread","x":1350,"y":320,"wires":[]},{"id":"b6b12aa4.540fd8","type":"change","z":"84bf2299.ff8948","name":"Unit 1 Ready","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"background","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"START","tot":"str"},{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"switch","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":320,"wires":[["1e46c26f.bcf28e","13b79112.ac2ce7","ced912b6.dd2bb"]]},{"id":"6def29f9.4046b","type":"change","z":"84bf2299.ff8948","name":"Unit 1 Active","rules":[{"t":"set","p":"background","pt":"msg","to":"blue","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"RUNNING","tot":"str"},{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"switch","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"time","pt":"msg","to":"","tot":"num"},{"t":"set","p":"empty","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":260,"wires":[["f3d2a1ab.a104","13b79112.ac2ce7","ced912b6.dd2bb"]]},{"id":"1e46c26f.bcf28e","type":"interval-length","z":"84bf2299.ff8948","format":"human","bytopic":false,"minimum":"","maximum":"","window":"","timeout":false,"msgTimeout":"","minimumunit":"secs","maximumunit":"msecs","windowunit":"msecs","msgTimeoutUnit":"mins","reset":true,"startup":false,"msgField":"time","timestampField":"timestamp","repeatTimeout":false,"name":"Unit 1 Timer","x":930,"y":380,"wires":[["b109f44.5490f08","53dc60f8.28c6b"],[]]},{"id":"7b2b62f3.5897dc","type":"ui_text","z":"84bf2299.ff8948","group":"4fd72aa1.c172dc","order":2,"width":0,"height":0,"name":"Unit 1 Raw Depth","label":"Unit 1 Raw Depth","format":"{{msg.rawdepth}}","layout":"row-spread","x":370,"y":440,"wires":[]},{"id":"af51d7d5.1e5d28","type":"ui_slider","z":"84bf2299.ff8948","name":"Unit 1 Fill Simulator","label":"Unit 1 Fake","tooltip":"","group":"4fd72aa1.c172dc","order":5,"width":0,"height":0,"passthru":false,"outs":"all","topic":"1","min":"0","max":"100","step":1,"x":150,"y":260,"wires":[["61606b0b.8120ec"]]},{"id":"576355bb.4bb24c","type":"link out","z":"84bf2299.ff8948","name":"Unit 1 Reset Link In","links":["8d881872.e7d478","ba4a998c.0b8338"],"x":615,"y":260,"wires":[]},{"id":"1475f257.a3301e","type":"link in","z":"84bf2299.ff8948","name":"Unit 1 Complete Link Out","links":["8659a240.55b6d8","70c61505.21102c"],"x":555,"y":200,"wires":[["1e46c26f.bcf28e","13b79112.ac2ce7"]]},{"id":"d4d84759.148fd8","type":"ui_button","z":"2dbcbfda.d7c6a","name":"LED 6 FB","group":"99ac80c6.28913","order":6,"width":"1","height":"1","passthru":false,"label":"{{text}}","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"","payloadType":"str","topic":"","x":880,"y":660,"wires":[[]]},{"id":"9a2318b3.35d8a8","type":"ui_button","z":"2dbcbfda.d7c6a","name":"LED 5 FB","group":"99ac80c6.28913","order":9,"width":"1","height":"1","passthru":false,"label":"{{text}}","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"","payloadType":"str","topic":"","x":880,"y":760,"wires":[[]]},{"id":"d9e83cea.735d7","type":"ui_button","z":"2dbcbfda.d7c6a","name":"LED 4 FB","group":"99ac80c6.28913","order":11,"width":"1","height":"1","passthru":false,"label":"{{text}}","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"","payloadType":"str","topic":"","x":880,"y":860,"wires":[[]]},{"id":"8e935faa.920578","type":"ui_button","z":"2dbcbfda.d7c6a","name":"LED 3 FB","group":"99ac80c6.28913","order":13,"width":"1","height":"1","passthru":false,"label":"{{text}}","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"","payloadType":"str","topic":"","x":880,"y":960,"wires":[[]]},{"id":"5fd4b3d.72bf8cc","type":"ui_button","z":"2dbcbfda.d7c6a","name":"LED 2 FB","group":"99ac80c6.28913","order":16,"width":"1","height":"1","passthru":false,"label":"{{text}}","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"","payloadType":"str","topic":"","x":880,"y":1060,"wires":[[]]},{"id":"d773bd8.74a1a4","type":"ui_button","z":"2dbcbfda.d7c6a","name":"LED 1 FB","group":"99ac80c6.28913","order":19,"width":"1","height":"1","passthru":false,"label":"{{text}}","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"","payloadType":"str","topic":"","x":880,"y":1160,"wires":[[]]},{"id":"f4412ed7.fd8028","type":"link in","z":"2dbcbfda.d7c6a","name":"Unit 2 Reset Link Out","links":["f94959d8.ced17"],"x":435,"y":920,"wires":[["45df34de.df9a14","985d2beb.f681d","c15c31c0.badbb","3157bee2.cc57c2","50a8e9cf.5db4d","d0a89806.94b138","27bfaa65.9162c6","f115a66c.1bd648","7885f496.8f668c","532e2759.5a86","47028cc4.7ac944","970c9346.bda06"]]},{"id":"f58edecc.4ebc5","type":"link in","z":"2dbcbfda.d7c6a","name":"Unit 2 Level Link Out","links":["c686b4d3.fe597"],"x":75,"y":920,"wires":[["72ba3105.4772f8"]]},{"id":"a720b01a.90046","type":"link out","z":"2dbcbfda.d7c6a","name":"Unit 2 Complete Link In","links":["b1c041f0.0e4f68"],"x":595,"y":620,"wires":[]},{"id":"ac02f46.23f9a88","type":"switch","z":"2dbcbfda.d7c6a","name":"Unit 2 Disable Level FB after Finish","property":"switch","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":760,"y":440,"wires":[["c686b4d3.fe597"],[]]},{"id":"3d9555dd.c02cda","type":"ui_gauge","z":"2dbcbfda.d7c6a","name":"Unit 2 Fill Level","group":"99ac80c6.28913","order":23,"width":"4","height":"3","gtype":"gage","title":"","label":"units","format":"{{value | number}}%","min":"0","max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"44","seg2":"83","x":900,"y":500,"wires":[]},{"id":"41318bdc.353e84","type":"ui_button","z":"2dbcbfda.d7c6a","name":"Unit 2 Reset","group":"99ac80c6.28913","order":21,"width":"2","height":"1","passthru":false,"label":"Set/Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"2","x":590,"y":320,"wires":[["a60961.74b646a","f94959d8.ced17"]]},{"id":"6cc1b35a.03186c","type":"ui_button","z":"2dbcbfda.d7c6a","name":"Unit 2 Start","group":"99ac80c6.28913","order":20,"width":"2","height":"1","passthru":false,"label":"{{text}}","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"true","payloadType":"bool","topic":"2","x":930,"y":200,"wires":[["22e663cc.b3af4c"]]},{"id":"f6217561.99b8f8","type":"ui_text","z":"2dbcbfda.d7c6a","group":"99ac80c6.28913","order":24,"width":"4","height":"1","name":"Unit 2 Time","label":"Time","format":"{{msg.time}}","layout":"row-spread","x":1350,"y":320,"wires":[]},{"id":"a60961.74b646a","type":"change","z":"2dbcbfda.d7c6a","name":"Unit 2 Ready","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"background","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"START","tot":"str"},{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"switch","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":320,"wires":[["73dd9d11.4d87bc","b7ee30ed.37baf8","999c046d.14c71"]]},{"id":"59e37a33.116754","type":"change","z":"2dbcbfda.d7c6a","name":"Unit 2 Active","rules":[{"t":"set","p":"background","pt":"msg","to":"blue","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"RUNNING","tot":"str"},{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"switch","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"time","pt":"msg","to":"","tot":"num"},{"t":"set","p":"empty","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":260,"wires":[["f6217561.99b8f8","b7ee30ed.37baf8","999c046d.14c71"]]},{"id":"73dd9d11.4d87bc","type":"interval-length","z":"2dbcbfda.d7c6a","format":"human","bytopic":false,"minimum":"","maximum":"","window":"","timeout":false,"msgTimeout":"8","minimumunit":"secs","maximumunit":"msecs","windowunit":"msecs","msgTimeoutUnit":"mins","reset":true,"startup":false,"msgField":"time","timestampField":"timestamp","repeatTimeout":false,"name":"Unit 2 Timer","x":930,"y":380,"wires":[["66daee27.fa6f08","50877e82.6209b"],[]]},{"id":"561065fd.e7b0f4","type":"ui_text","z":"2dbcbfda.d7c6a","group":"4fd72aa1.c172dc","order":6,"width":0,"height":0,"name":"Unit 2 Raw Depth","label":"Unit 2 Raw Depth","format":"{{msg.rawdepth}}","layout":"row-spread","x":370,"y":440,"wires":[]},{"id":"319c796d.d4e8be","type":"ui_slider","z":"2dbcbfda.d7c6a","name":"Unit 2 Fill Simulator","label":"Unit 2  Fake","tooltip":"","group":"4fd72aa1.c172dc","order":9,"width":0,"height":0,"passthru":false,"outs":"all","topic":"2","min":0,"max":"100","step":1,"x":150,"y":260,"wires":[["ac6c7bae.705ad"]]},{"id":"f94959d8.ced17","type":"link out","z":"2dbcbfda.d7c6a","name":"Unit 2 Reset Link In","links":["f4412ed7.fd8028"],"x":615,"y":260,"wires":[]},{"id":"c686b4d3.fe597","type":"link out","z":"2dbcbfda.d7c6a","name":"Unit 2 Level Link In","links":["f58edecc.4ebc5"],"x":955,"y":440,"wires":[]},{"id":"b1c041f0.0e4f68","type":"link in","z":"2dbcbfda.d7c6a","name":"Unit 2 Complete Link Out","links":["a720b01a.90046"],"x":555,"y":200,"wires":[["73dd9d11.4d87bc","b7ee30ed.37baf8"]]},{"id":"3c732046.c32988","type":"link out","z":"2dbcbfda.d7c6a","name":"Unit 2 Feedback to Dual In","links":["160a1443.6198c4","dc887e42.bbcc38","54fdf68b.6fd51"],"x":875,"y":120,"wires":[]},{"id":"b617f728.33d798","type":"link in","z":"2dbcbfda.d7c6a","name":"Dual Start to Unit 2 Out","links":["86462cc8.ac3548"],"x":975,"y":160,"wires":[["22e663cc.b3af4c"]]},{"id":"a4477dc7.553a68","type":"link out","z":"84bf2299.ff8948","name":"Unit 1 Feedback to Dual In","links":["dc887e42.bbcc38","190b06ec.9055e1"],"x":875,"y":120,"wires":[]},{"id":"90b47fa1.05ba28","type":"link in","z":"84bf2299.ff8948","name":"Dual Start to Unit 1 Out","links":["310e73e9.f28564"],"x":975,"y":160,"wires":[["80aa4126.b3bd88"]]},{"id":"e64760ba.c2cd08","type":"ui_button","z":"b51eca81.686ea","name":"Dual Start","group":"99ac80c6.28913","order":1,"width":"6","height":"2","passthru":false,"label":"{{text}}","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"true","payloadType":"bool","topic":"","x":760,"y":280,"wires":[["ef9e1b37.1f0258","abe858ad.85fe28"]]},{"id":"86462cc8.ac3548","type":"link out","z":"b51eca81.686ea","name":"Dual Start to Unit 2 In","links":["b617f728.33d798"],"x":1075,"y":320,"wires":[]},{"id":"54fdf68b.6fd51","type":"link in","z":"b51eca81.686ea","name":"Unit 2 Feedback to Dual Out","links":["5e31659d.421e44","f2ab9d6b.79e3b","3c732046.c32988"],"x":215,"y":380,"wires":[["b66bf305.6c16e","fd42df16.fcf58"]]},{"id":"310e73e9.f28564","type":"link out","z":"b51eca81.686ea","name":"Dual Start to Unit 1 In","links":["90b47fa1.05ba28"],"x":1075,"y":240,"wires":[]},{"id":"190b06ec.9055e1","type":"link in","z":"b51eca81.686ea","name":"Unit 1 Feedback to Dual Out","links":["a4477dc7.553a68"],"x":215,"y":180,"wires":[["b66bf305.6c16e","fd42df16.fcf58"]]},{"id":"b66bf305.6c16e","type":"and-gate","z":"b51eca81.686ea","name":"","rules":[{"t":"true","propertyType":"msg","property":"enabled","topic":"1"},{"t":"true","propertyType":"msg","property":"enabled","topic":"2"}],"outputTopic":"And","gateType":"and","emitOnlyIfTrue":true,"x":380,"y":240,"wires":[["55231842.9eccd8"]]},{"id":"13b79112.ac2ce7","type":"change","z":"84bf2299.ff8948","name":"Signal Combiner","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":200,"wires":[["affd6b2b.1b50f8","a4477dc7.553a68"]]},{"id":"80aa4126.b3bd88","type":"change","z":"84bf2299.ff8948","name":"Signal Combiner","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":200,"wires":[["1e46c26f.bcf28e","6def29f9.4046b","ced912b6.dd2bb"]]},{"id":"b7ee30ed.37baf8","type":"change","z":"2dbcbfda.d7c6a","name":"Signal Combiner","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":200,"wires":[["6cc1b35a.03186c","3c732046.c32988"]]},{"id":"22e663cc.b3af4c","type":"change","z":"2dbcbfda.d7c6a","name":"Signal Combiner","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":200,"wires":[["59e37a33.116754","73dd9d11.4d87bc","999c046d.14c71"]]},{"id":"ef9e1b37.1f0258","type":"change","z":"b51eca81.686ea","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":240,"wires":[["310e73e9.f28564"]]},{"id":"abe858ad.85fe28","type":"change","z":"b51eca81.686ea","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":320,"wires":[["86462cc8.ac3548"]]},{"id":"55231842.9eccd8","type":"change","z":"b51eca81.686ea","name":"Dual Ready","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"text","pt":"msg","to":"DUAL START","tot":"str"},{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"time","pt":"msg"},{"t":"delete","p":"reset","pt":"msg"},{"t":"set","p":"background","pt":"msg","to":"grey","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":240,"wires":[["e64760ba.c2cd08"]]},{"id":"fd42df16.fcf58","type":"and-gate","z":"b51eca81.686ea","name":"","rules":[{"t":"true","propertyType":"msg","property":"enabled","topic":"1"},{"t":"true","propertyType":"msg","property":"enabled","topic":"2"}],"outputTopic":"And","gateType":"nand","emitOnlyIfTrue":true,"x":380,"y":320,"wires":[["cac4e513.58dbe"]]},{"id":"cac4e513.58dbe","type":"change","z":"b51eca81.686ea","name":"Dual Not Ready","rules":[{"t":"set","p":"background","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"UNAVAILABLE","tot":"str"},{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"time","pt":"msg"},{"t":"delete","p":"reset","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":320,"wires":[["e64760ba.c2cd08"]]},{"id":"4008b2fe.7d754c","type":"exec","z":"7febcf1a.2b2de8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":970,"y":320,"wires":[[],[],[]]},{"id":"eab1cee2.b74918","type":"ui_switch","z":"7febcf1a.2b2de8","name":"File System Switch","label":"{{fs}}","tooltip":"","group":"4fd72aa1.c172dc","order":14,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":370,"y":320,"wires":[["2affd7c6.42ef88","f2b9fb11.3705f"]]},{"id":"2affd7c6.42ef88","type":"switch","z":"7febcf1a.2b2de8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":320,"wires":[["aea7ab85.f48488","c58972d0.6a8d4"],["614778c8.92336","762bff9d.79db48"]]},{"id":"aea7ab85.f48488","type":"change","z":"7febcf1a.2b2de8","name":"Read-Write","rules":[{"t":"set","p":"payload","pt":"msg","to":"sudo mount -o remount,rw /","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":260,"wires":[["4008b2fe.7d754c"]]},{"id":"614778c8.92336","type":"change","z":"7febcf1a.2b2de8","name":"Read-Only","rules":[{"t":"set","p":"payload","pt":"msg","to":"sudo mount -o remount,ro /","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":380,"wires":[["4008b2fe.7d754c"]]},{"id":"f2b9fb11.3705f","type":"trigger","z":"7febcf1a.2b2de8","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"Temp Lock","x":230,"y":380,"wires":[["32e83b59.75c14c"]]},{"id":"32e83b59.75c14c","type":"change","z":"7febcf1a.2b2de8","name":"Set Disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":380,"wires":[["eab1cee2.b74918"]]},{"id":"c58972d0.6a8d4","type":"change","z":"7febcf1a.2b2de8","name":"FS RW","rules":[{"t":"set","p":"fs","pt":"msg","to":"FS Read-Write","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":300,"wires":[["16140616.eade52"]]},{"id":"762bff9d.79db48","type":"change","z":"7febcf1a.2b2de8","name":"FS RO","rules":[{"t":"set","p":"fs","pt":"msg","to":"FS Read-Only","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":340,"wires":[["16140616.eade52"]]},{"id":"16140616.eade52","type":"link out","z":"7febcf1a.2b2de8","name":"FS Feedback In","links":["f3b0bebc.9399d"],"x":855,"y":320,"wires":[]},{"id":"f3b0bebc.9399d","type":"link in","z":"7febcf1a.2b2de8","name":"FS Feedback Out","links":["16140616.eade52"],"x":175,"y":320,"wires":[["eab1cee2.b74918"]]},{"id":"f5d9bfb3.dabcc8","type":"inject","z":"7febcf1a.2b2de8","name":"Initialize FS State","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":210,"y":440,"wires":[["eab1cee2.b74918"]]},{"id":"3444995e.aaaf46","type":"link out","z":"84bf2299.ff8948","name":"Unit 1 Log In","links":["8009db4f.3a4768"],"x":1295,"y":280,"wires":[]},{"id":"17595c29.e2637c","type":"rpi-srf","z":"2dbcbfda.d7c6a","name":"Unit 2 Depth Sensor","topic":"2","pulse":"0.5","pins":"35,37","x":150,"y":380,"wires":[["9e14fa9d.499778","d6e16824.f3749"]]},{"id":"5458f9d7.a3bdd","type":"rpi-srf","z":"84bf2299.ff8948","name":"Unit 1 Depth Sensor","topic":"1","pulse":"0.5","pins":"38,40","x":150,"y":380,"wires":[["87951192.f44f58","eb44350.a6631c8"]]},{"id":"a21a5544.a0dd48","type":"inject","z":"7febcf1a.2b2de8","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":210,"y":720,"wires":[["61efdd98.c2b6d4"]]},{"id":"61efdd98.c2b6d4","type":"rpi-dht22","z":"7febcf1a.2b2de8","name":"Temp/Humidity Sensor","topic":"rpi-dht22","dht":22,"pintype":"2","pin":"33","x":480,"y":720,"wires":[["5ab1353f.eb5924"]]},{"id":"5ab1353f.eb5924","type":"function","z":"7febcf1a.2b2de8","name":"C to F Temp Conversion","func":"if(msg.topic === \"rpi-dht22\")\n{\n    val = msg.payload\n    f = (val*1.8) + 32\n    ;\n}\n{\n    msg.humidity = parseFloat(msg.humidity).toFixed(1) + \" %\"\n}\n{\n    msg.temp = parseFloat(f).toFixed(1) + \" °F\"}\nreturn msg","outputs":1,"noerr":0,"x":810,"y":720,"wires":[["a48e756e.08eca","2a8fe2bd.bb0ac6"]]},{"id":"a48e756e.08eca","type":"ui_gauge","z":"7febcf1a.2b2de8","name":"","group":"4fd72aa1.c172dc","order":12,"width":0,"height":0,"gtype":"gage","title":"Temp Gauge","label":"units","format":"{{msg.temp}}","min":"40","max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"90","seg2":"110","x":1070,"y":740,"wires":[]},{"id":"2a8fe2bd.bb0ac6","type":"ui_gauge","z":"7febcf1a.2b2de8","name":"","group":"4fd72aa1.c172dc","order":13,"width":0,"height":0,"gtype":"gage","title":"Humidity Gauge","label":"units","format":"{{msg.humidity}}","min":"32","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"80","x":1080,"y":700,"wires":[]},{"id":"2deb01a6.de59b6","type":"inject","z":"7febcf1a.2b2de8","name":"","topic":"Get Pi CPU Temp","payload":"cat /sys/class/thermal/thermal_zone0/temp","payloadType":"str","repeat":"10","crontab":"","once":true,"onceDelay":"5","x":170,"y":860,"wires":[["22fdecab.e01984"]]},{"id":"22fdecab.e01984","type":"exec","z":"7febcf1a.2b2de8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":310,"y":860,"wires":[["ccc84eec.ba7a8"],[],[]]},{"id":"a1437d5a.888db8","type":"function","z":"7febcf1a.2b2de8","name":"C to F Temp Conversion","func":"{\n    val = msg.payload\n    f = (val*1.8) + 32\n    c = f/1000\n    ;\n}\n\n{\n    msg.cputemp = parseFloat(c).toFixed(1) + \" °F\"}\n    msg.payload = f\nreturn msg","outputs":1,"noerr":0,"x":810,"y":820,"wires":[["ace0d857.8a4808"]]},{"id":"ace0d857.8a4808","type":"ui_gauge","z":"7febcf1a.2b2de8","name":"","group":"4fd72aa1.c172dc","order":11,"width":0,"height":0,"gtype":"gage","title":"CPU Gauge","label":"units","format":"{{msg.cputemp}}","min":"60","max":"160","colors":["#00b500","#e6e600","#ca3838"],"seg1":"120","seg2":"150","x":1070,"y":820,"wires":[]},{"id":"87951192.f44f58","type":"function","z":"84bf2299.ff8948","name":"cm to inch Conversion","func":"{\n    val = msg.payload\n    f = val/2.54\n    ;\n}\n\n{\n    msg.rawdepth = parseFloat(f).toFixed(1) + '\"'}\nreturn msg","outputs":1,"noerr":0,"x":380,"y":380,"wires":[["7b2b62f3.5897dc"]]},{"id":"9e14fa9d.499778","type":"function","z":"2dbcbfda.d7c6a","name":"cm to inch Conversion","func":"{\n    val = msg.payload\n    f = val/2.54\n    ;\n}\n\n{\n    msg.rawdepth = parseFloat(f).toFixed(1) + '\"'}\nreturn msg","outputs":1,"noerr":0,"x":380,"y":380,"wires":[["561065fd.e7b0f4"]]},{"id":"ccc84eec.ba7a8","type":"switch","z":"7febcf1a.2b2de8","name":"Over Temp Safety","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"75000","vt":"num"},{"t":"gte","v":"75000","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":840,"wires":[["a1437d5a.888db8"],["fc31aa99.823a38"]]},{"id":"fc31aa99.823a38","type":"change","z":"7febcf1a.2b2de8","name":"Over Temp Shutdown","rules":[{"t":"set","p":"payload","pt":"msg","to":"sudo halt -p","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":860,"wires":[["22fdecab.e01984"]]},{"id":"b4f08bb3.06d5c8","type":"ui_button","z":"7febcf1a.2b2de8","name":"Shutdown","group":"4fd72aa1.c172dc","order":15,"width":0,"height":0,"passthru":false,"label":"SHUTDOWN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"sudo halt -p","payloadType":"str","topic":"","x":180,"y":920,"wires":[["22fdecab.e01984"]]},{"id":"e7a2047c.29aa48","type":"ui_text_input","z":"84bf2299.ff8948","name":"Name","label":"","tooltip":"","group":"99ac80c6.28913","order":17,"width":"4","height":"1","passthru":true,"mode":"text","delay":300,"topic":"","x":1150,"y":540,"wires":[["4bff889c.c981c8"]]},{"id":"4bff889c.c981c8","type":"change","z":"84bf2299.ff8948","name":"Name Context","rules":[{"t":"set","p":"name","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":540,"wires":[[]]},{"id":"a5861421.11eca8","type":"inject","z":"84bf2299.ff8948","name":"","topic":"","payload":"Firefighter 1","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"1","x":990,"y":540,"wires":[["e7a2047c.29aa48"]]},{"id":"b109f44.5490f08","type":"simpletime","z":"84bf2299.ff8948","name":"","x":1150,"y":380,"wires":[["e62d2261.ac16c","181a590a.2cf7b7"]]},{"id":"53dc60f8.28c6b","type":"function","z":"84bf2299.ff8948","name":"Line to be logged","func":"var name = flow.get(\"name\");\nvar eventname = global.get(\"eventname\");\nvar date = flow.get(\"date\");\nvar clock = flow.get(\"clock\");\nvar eventtime = msg.time;\n\nmsg.log = name + \", \" + date + \" \" + clock + \", \" + eventname + \", \" + eventtime;\n\nmsg.time = name + \" \" + eventtime;\n\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":340,"wires":[["3444995e.aaaf46","f3d2a1ab.a104"]]},{"id":"e62d2261.ac16c","type":"change","z":"84bf2299.ff8948","name":"Time of Day Context","rules":[{"t":"set","p":"clock","pt":"flow","to":"mytime","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":400,"wires":[[]]},{"id":"181a590a.2cf7b7","type":"change","z":"84bf2299.ff8948","name":"Date Context","rules":[{"t":"set","p":"date","pt":"flow","to":"mydate","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":360,"wires":[[]]},{"id":"c3656638.edd82","type":"ui_text_input","z":"2dbcbfda.d7c6a","name":"Name","label":"","tooltip":"","group":"99ac80c6.28913","order":26,"width":"4","height":"1","passthru":true,"mode":"text","delay":300,"topic":"","x":1150,"y":540,"wires":[["25292be6.ffafb4"]]},{"id":"25292be6.ffafb4","type":"change","z":"2dbcbfda.d7c6a","name":"Name Context","rules":[{"t":"set","p":"name","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":540,"wires":[[]]},{"id":"7fdf7350.9eb1bc","type":"inject","z":"2dbcbfda.d7c6a","name":"","topic":"","payload":"Firefighter 2","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"1","x":990,"y":540,"wires":[["c3656638.edd82"]]},{"id":"66daee27.fa6f08","type":"simpletime","z":"2dbcbfda.d7c6a","name":"","x":1150,"y":380,"wires":[["f3ffd195.0d1398","57db1480.19a304"]]},{"id":"50877e82.6209b","type":"function","z":"2dbcbfda.d7c6a","name":"Line to be logged","func":"var name = flow.get(\"name\");\nvar eventname = global.get(\"eventname\");\nvar date = flow.get(\"date\");\nvar clock = flow.get(\"clock\");\nvar eventtime = msg.time;\n\nmsg.log = name + \", \" + date + \" \" + clock + \", \" + eventname + \", \" + eventtime;\n\nmsg.time = name + \" \" + eventtime;\n\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":340,"wires":[["1e94948d.8f0f6b","f6217561.99b8f8"]]},{"id":"f3ffd195.0d1398","type":"change","z":"2dbcbfda.d7c6a","name":"Time of Day Context","rules":[{"t":"set","p":"clock","pt":"flow","to":"mytime","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":400,"wires":[[]]},{"id":"57db1480.19a304","type":"change","z":"2dbcbfda.d7c6a","name":"Date Context","rules":[{"t":"set","p":"date","pt":"flow","to":"mydate","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":360,"wires":[[]]},{"id":"8009db4f.3a4768","type":"link in","z":"7febcf1a.2b2de8","name":"Log Out","links":["1e94948d.8f0f6b","3444995e.aaaf46"],"x":175,"y":120,"wires":[["9247f509.d8c8e"]]},{"id":"9247f509.d8c8e","type":"change","z":"7febcf1a.2b2de8","name":"","rules":[{"t":"move","p":"log","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"log","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":120,"wires":[["74cccf83.dfdaf8","78725c0a.c6d1e4","731bd9f5.aebc68"]]},{"id":"1e94948d.8f0f6b","type":"link out","z":"2dbcbfda.d7c6a","name":"Unit 2 Log In","links":["8009db4f.3a4768"],"x":1295,"y":280,"wires":[]},{"id":"105ae5c0.99585a","type":"link out","z":"84bf2299.ff8948","name":"Unit 1 Level Link In","links":["70ee742e.11d7fc"],"x":955,"y":440,"wires":[]},{"id":"7d7ad175.cce1f","type":"change","z":"b51eca81.686ea","name":"Event Name Context","rules":[{"t":"set","p":"eventname","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":400,"wires":[[]]},{"id":"508a680a.cd0a58","type":"ui_text_input","z":"b51eca81.686ea","name":"Event Name","label":"","tooltip":"","group":"99ac80c6.28913","order":2,"width":"6","height":"1","passthru":true,"mode":"text","delay":300,"topic":"","x":570,"y":400,"wires":[["7d7ad175.cce1f"]]},{"id":"9a298088.9594","type":"inject","z":"b51eca81.686ea","name":"","topic":"","payload":"Event A","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"1","x":380,"y":400,"wires":[["508a680a.cd0a58"]]},{"id":"79de63d.480409c","type":"ui_button","z":"544f8302.625e74","name":"","group":"86037920.66a578","order":1,"width":"6","height":"1","passthru":false,"label":"Enter todays Date for accurate logging.","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":380,"wires":[[]]},{"id":"a858fb2c.5486e","type":"change","z":"544f8302.625e74","name":"","rules":[{"t":"set","p":"Date","pt":"flow","to":"date","tot":"msg"},{"t":"set","p":"DateInput","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":460,"wires":[[]]},{"id":"473274f.953030c","type":"ui_date_picker","z":"544f8302.625e74","name":"Set Date","label":"","group":"86037920.66a578","order":2,"width":"6","height":"2","passthru":false,"topic":"","x":560,"y":460,"wires":[["bf7e100b.ea9b"]]},{"id":"bf7e100b.ea9b","type":"function","z":"544f8302.625e74","name":"Parse Date","func":"var date1 = msg.payload;\n\nvar date2 = new Date(date1);\n\nvar date3 = String(date2);\n\nvar date4 = date3.slice(0, 16);\n\nflow.set(\"Date\", date4);\n\nflow.set(\"DateInput\", true);\n\nmsg.date = date4;\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":460,"wires":[["a858fb2c.5486e"]]},{"id":"1612b39b.ec8044","type":"change","z":"544f8302.625e74","name":"Flip to Time Page","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[\"Start_Page_Set_Date\"],\"show\":[\"Start_Page_Set_Time\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":500,"wires":[["3d95ae7.a1c06d2"]]},{"id":"5c8daee9.010018","type":"change","z":"544f8302.625e74","name":"Date and Time 5/1/19 1PM","rules":[{"t":"set","p":"payload","pt":"msg","to":"1556744420000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":460,"wires":[["473274f.953030c","6ade2134.8828c"]]},{"id":"cc532bf5.cc40f8","type":"ui_button","z":"544f8302.625e74","name":"","group":"86037920.66a578","order":2,"width":"6","height":"2","passthru":false,"label":"SET DATE","tooltip":"","color":"","bgcolor":"orange","icon":"","payload":"","payloadType":"str","topic":"","x":390,"y":500,"wires":[["1612b39b.ec8044","473274f.953030c"]]},{"id":"a78c0a38.2a99f8","type":"comment","z":"544f8302.625e74","name":"Current Date Entry","info":"Select Current Date to set context\nfor system date/time update","x":230,"y":340,"wires":[]},{"id":"6ade2134.8828c","type":"ui_text_input","z":"544f8302.625e74","name":"Set Time","label":"","tooltip":"","group":"4078e873.6e28e","order":2,"width":"6","height":"2","passthru":false,"mode":"time","delay":"300","topic":"","x":120,"y":740,"wires":[["97a5ff00.090ec"]]},{"id":"97a5ff00.090ec","type":"function","z":"544f8302.625e74","name":"Set System Date","func":"var raw = msg.payload\nvar seconds1 = (raw / 1000) % 60 ;\nvar minutes1 = ((raw / (1000*60)) % 60);\nvar hours1   = ((raw / (1000*60*60)) % 24);\n\nvar seconds2 = Math.floor(seconds1)\nvar minutes2 = Math.floor(minutes1)\nvar hours2 = Math.floor(hours1)\n\nvar date = flow.get(\"Date\")\n\nvar systime = hours2 + \":\" + minutes2 + \":\" + seconds2;\n\nvar sysdate = date + systime;\n\nflow.set(\"SysDate\", sysdate);\n\nmsg.sysdate = sysdate;\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":740,"wires":[["e2609b85.785e98"]]},{"id":"e2609b85.785e98","type":"change","z":"544f8302.625e74","name":"","rules":[{"t":"set","p":"TimeInput","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"TimeSet","pt":"global","to":"true","tot":"bool"},{"t":"move","p":"sysdate","pt":"msg","to":"sysdate","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":740,"wires":[["cbe9be5a.833a18"]]},{"id":"cbe9be5a.833a18","type":"and-gate","z":"544f8302.625e74","name":"","rules":[{"t":"true","propertyType":"flow","property":"DateInput"},{"t":"true","propertyType":"flow","property":"TimeInput"}],"outputTopic":"","gateType":"and","emitOnlyIfTrue":true,"x":120,"y":920,"wires":[["58b04fa1.7d00a"]]},{"id":"af1d4299.8cc678","type":"change","z":"544f8302.625e74","name":"","rules":[{"t":"set","p":"DateInput","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"TimeInput","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":1020,"wires":[["cbe9be5a.833a18"]]},{"id":"8f8f9400.f7e29","type":"delay","z":"544f8302.625e74","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":670,"y":1020,"wires":[["af1d4299.8cc678","ee565cd2.78439"]]},{"id":"ad804076.31f6b","type":"exec","z":"544f8302.625e74","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1090,"y":1000,"wires":[[],[],[]]},{"id":"1f9b486d.370b38","type":"function","z":"544f8302.625e74","name":"Set System Date & Time","func":"var sysdate = flow.get(\"SysDate\");\n\nmsg.payload = \"sudo date -s \" + '\"' + sysdate + '\"'; \n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1000,"wires":[["ad804076.31f6b"]]},{"id":"b73fd03e.9a87d8","type":"ui_button","z":"544f8302.625e74","name":"","group":"4078e873.6e28e","order":1,"width":"6","height":"1","passthru":false,"label":"Enter current time for accurate logging.","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":660,"wires":[[]]},{"id":"58b04fa1.7d00a","type":"change","z":"544f8302.625e74","name":"Enable Set Time","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":920,"wires":[["cc939c6b.2d0f98"]]},{"id":"cc939c6b.2d0f98","type":"ui_button","z":"544f8302.625e74","name":"","group":"4078e873.6e28e","order":3,"width":"6","height":"2","passthru":false,"label":"SET TIME","tooltip":"","color":"","bgcolor":"orange","icon":"","payload":"","payloadType":"str","topic":"","x":660,"y":920,"wires":[["7af64a36.ff61fc","8f8f9400.f7e29","1f9b486d.370b38"]]},{"id":"a4c78a7a.06bae","type":"comment","z":"544f8302.625e74","name":"Current Time Entry","info":"Select Current Time, combine with date context\nand update system date/time.","x":230,"y":620,"wires":[]},{"id":"a0f16114.1dd68","type":"change","z":"544f8302.625e74","name":"Disable Set Time","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":960,"wires":[["cc939c6b.2d0f98"]]},{"id":"3d95ae7.a1c06d2","type":"ui_ui_control","z":"544f8302.625e74","name":"","x":1320,"y":640,"wires":[["aa1224e9.abded"]]},{"id":"9791d15b.f17898","type":"change","z":"544f8302.625e74","name":"Flip to Main Page","rules":[{"t":"set","p":"payload","pt":"msg","to":"Dual Use","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":140,"wires":[["3d95ae7.a1c06d2"]]},{"id":"43bb143b.16b7fc","type":"change","z":"544f8302.625e74","name":"Show Start Page","rules":[{"t":"set","p":"payload","pt":"msg","to":"Start Page","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":220,"wires":[["5c8daee9.010018","3d95ae7.a1c06d2"]]},{"id":"b55a3dc.2d7734","type":"ui_button","z":"544f8302.625e74","name":"","group":"4078e873.6e28e","order":4,"width":"6","height":"2","passthru":false,"label":"BACK","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":410,"y":540,"wires":[["6adcbdc5.954944"]]},{"id":"6adcbdc5.954944","type":"change","z":"544f8302.625e74","name":"Back to Date Page","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[\"Start_Page_Set_Time\"],\"show\":[\"Start_Page_Set_Date\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":540,"wires":[["3d95ae7.a1c06d2"]]},{"id":"e07aaf2f.3b1b58","type":"change","z":"7febcf1a.2b2de8","name":"Flip to Main Page","rules":[{"t":"set","p":"payload","pt":"msg","to":"Dual Use","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":600,"wires":[["1715383f.5a6028","bdd4edfd.fd373"]]},{"id":"f6c3cfca.ffee58","type":"ui_button","z":"7febcf1a.2b2de8","name":"Flip to Main Page","group":"4fd72aa1.c172dc","order":1,"width":"6","height":"2","passthru":false,"label":"MAIN PAGE","tooltip":"","color":"","bgcolor":"orange","icon":"","payload":"","payloadType":"date","topic":"","x":710,"y":600,"wires":[["e07aaf2f.3b1b58"]]},{"id":"44e0e8ce.93bcc8","type":"link in","z":"544f8302.625e74","name":"Disable Set Time Out","links":["53b7e663.8dc43"],"x":255,"y":960,"wires":[["a0f16114.1dd68"]]},{"id":"a22ab029.4b53b8","type":"change","z":"7febcf1a.2b2de8","name":"Flip to Tech Tab","rules":[{"t":"set","p":"payload","pt":"msg","to":"Tech Page","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":520,"wires":[["bdd4edfd.fd373","1715383f.5a6028"]]},{"id":"bdd4edfd.fd373","type":"link out","z":"7febcf1a.2b2de8","name":"UI Control Link In 4","links":["ef4f0f59.7822e"],"x":1115,"y":560,"wires":[]},{"id":"eb44350.a6631c8","type":"function","z":"84bf2299.ff8948","name":"Calibrating Scaler","func":"var rawdepth = msg.payload;\n\nflow.set(\"level\", msg.payload);\n\nvar empty = flow.get(\"calibrate0\");\nvar full = flow.get(\"calibrate100\");\n\nxMax = 100;\nxMin = 0;\n\nyMax = full;\nyMin = empty;\n\nvar percent = (rawdepth - yMin) / (yMax - yMin);\nvar levelraw = percent * (xMax - xMin) + xMin;\n\nvar level = Math.trunc(levelraw);\n\n\n\nif (level > 0 && level <=100 ) {\n    msg.enabled = false\n    msg.payload = level\n    return [ msg, msg, msg ]\n}\nelse if (level <= 0){\n    msg.payload = 0\n    msg.enabled = true\n    return [ null, msg, msg ]\n}\nelse if (level > 100 ) {\n    msg.enabled = false\n    msg.payload = 100\n    return [ msg, msg, msg ]\n}\nelse {\n    return [ null, null, null ]\n}","outputs":3,"noerr":0,"x":370,"y":320,"wires":[["13b79112.ac2ce7"],["eaedb58.49eb7c8"],["b107f71.effc408","75f719b4.430988"]]},{"id":"472821e2.67a628","type":"inject","z":"84bf2299.ff8948","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1.75","x":150,"y":200,"wires":[["34b01738.a9615"]]},{"id":"34b01738.a9615","type":"change","z":"84bf2299.ff8948","name":"","rules":[{"t":"set","p":"calibrate0","pt":"flow","to":"120","tot":"num"},{"t":"set","p":"calibrate100","pt":"flow","to":"61","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":200,"wires":[[]]},{"id":"2b0cde5b.5bfc32","type":"inject","z":"2dbcbfda.d7c6a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"2.25","x":150,"y":200,"wires":[["ac9861e1.ac2d3"]]},{"id":"ac9861e1.ac2d3","type":"change","z":"2dbcbfda.d7c6a","name":"","rules":[{"t":"set","p":"calibrate0","pt":"flow","to":"120","tot":"num"},{"t":"set","p":"calibrate100","pt":"flow","to":"61","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":200,"wires":[[]]},{"id":"97d7f431.a40b38","type":"change","z":"84bf2299.ff8948","name":"Stop Flow","rules":[{"t":"set","p":"background","pt":"msg","to":"orange","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"COMPLETE","tot":"str"},{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"switch","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":620,"wires":[["70c61505.21102c"]]},{"id":"bb569c00.c2f458","type":"function","z":"84bf2299.ff8948","name":"Unit 1 LED Control","func":"var level = msg.payload;\n\nvar on = { payload: true };\nvar off = { payload: false };\n\nif (level >= 100) {\n    flow.set(\"empty\", false);\n    return [on, on, on, on, on, on];\n}\nelse if (level > 81 ) {\n    flow.set(\"empty\", false);\n    return [off, on, on, on, on, on];\n}\nelse if (level > 62 ) {\n    flow.set(\"empty\", false);\n    return [off, off, on, on, on, on];\n}\nelse if (level > 43 ) {\n    flow.set(\"empty\", false);\n    return [off, off, off, on, on, on];\n}\nelse if (level > 24 ) {\n    flow.set(\"empty\", false);\n    return [off, off, off, off, on, on];\n}\nelse if (level > 5 ) {\n    flow.set(\"empty\", false);\n    return [off, off, off, off, off, on];\n}\nelse if (level >= 0 ) {\n    flow.set(\"empty\", true);\n    return [ off, off, off, off, off, null ];\n}\nreturn msg;","outputs":6,"noerr":0,"x":230,"y":920,"wires":[["79472342.dbcdf4","a7f2ed2b.d8735","60216f58.d4b4c8"],["cdf33b57.0f15c8","89733a7b.d730a"],["fe75d130.d40bb8","4db6a30a.6389b4"],["7cd222b8.bbbc44","403d24ca.47d1c4"],["d892f241.ae8478","23920c81.09a42c"],["3f32efe0.eadc08","f8240394.589bf"]]},{"id":"79472342.dbcdf4","type":"switch","z":"84bf2299.ff8948","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"false","repair":false,"outputs":1,"x":330,"y":720,"wires":[["97d7f431.a40b38"]]},{"id":"c1be4004.e794c","type":"trigger","z":"84bf2299.ff8948","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"-2","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":300,"y":1120,"wires":[["a4679d24.0b9ff"]]},{"id":"a4679d24.0b9ff","type":"trigger","z":"84bf2299.ff8948","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":340,"y":1160,"wires":[["e7095607.2e79"]]},{"id":"e7095607.2e79","type":"switch","z":"84bf2299.ff8948","name":"","property":"empty","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":1220,"wires":[["34e3f02.957649"],[]]},{"id":"89288721.1b11c","type":"link in","z":"84bf2299.ff8948","name":"Unit 1 LED Pulse Link Out","links":["ced912b6.dd2bb"],"x":100,"y":1120,"wires":[["c1be4004.e794c"]]},{"id":"ced912b6.dd2bb","type":"link out","z":"84bf2299.ff8948","name":"Unit 1 LED Pulse Link In","links":["89288721.1b11c"],"x":1395,"y":200,"wires":[]},{"id":"b107f71.effc408","type":"switch","z":"84bf2299.ff8948","name":"Unit 1 Disable Level FB after Finish","property":"switch","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":760,"y":440,"wires":[["105ae5c0.99585a"],[]]},{"id":"9c0d4daa.f4c19","type":"trigger","z":"2dbcbfda.d7c6a","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"-2","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":300,"y":1120,"wires":[["5f8ae5ec.1562d4"]]},{"id":"5f8ae5ec.1562d4","type":"trigger","z":"2dbcbfda.d7c6a","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":340,"y":1160,"wires":[["ac9e4352.bfc82"]]},{"id":"ac9e4352.bfc82","type":"switch","z":"2dbcbfda.d7c6a","name":"","property":"empty","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":1220,"wires":[["347fd36d.bd7b3c"],[]]},{"id":"439f39bc.33cf1","type":"link in","z":"2dbcbfda.d7c6a","name":"Unit 2 LED Pulse Link Out","links":["999c046d.14c71"],"x":100,"y":1120,"wires":[["9c0d4daa.f4c19"]]},{"id":"72ba3105.4772f8","type":"function","z":"2dbcbfda.d7c6a","name":"Unit 2 LED Control","func":"var level = msg.payload;\n\nvar on = { payload: true };\nvar off = { payload: false };\n\nif (level >= 100) {\n    flow.set(\"empty\", false);\n    return [on, on, on, on, on, on];\n}\nelse if (level > 81 ) {\n    flow.set(\"empty\", false);\n    return [off, on, on, on, on, on];\n}\nelse if (level > 62 ) {\n    flow.set(\"empty\", false);\n    return [off, off, on, on, on, on];\n}\nelse if (level > 43 ) {\n    flow.set(\"empty\", false);\n    return [off, off, off, on, on, on];\n}\nelse if (level > 24 ) {\n    flow.set(\"empty\", false);\n    return [off, off, off, off, on, on];\n}\nelse if (level > 5 ) {\n    flow.set(\"empty\", false);\n    return [off, off, off, off, off, on];\n}\nelse if (level >= 0 ) {\n    flow.set(\"empty\", true);\n    return [ off, off, off, off, off, null ];\n}\nreturn msg;","outputs":6,"noerr":0,"x":230,"y":920,"wires":[["8e6802dc.c465a8","45df34de.df9a14","27bfaa65.9162c6"],["985d2beb.f681d","f115a66c.1bd648"],["c15c31c0.badbb","7885f496.8f668c"],["3157bee2.cc57c2","532e2759.5a86"],["50a8e9cf.5db4d","47028cc4.7ac944"],["d0a89806.94b138","970c9346.bda06"]]},{"id":"8e6802dc.c465a8","type":"switch","z":"2dbcbfda.d7c6a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"false","repair":false,"outputs":1,"x":330,"y":720,"wires":[["993de659.e989"]]},{"id":"993de659.e989","type":"change","z":"2dbcbfda.d7c6a","name":"Stop Flow","rules":[{"t":"set","p":"background","pt":"msg","to":"orange","tot":"str"},{"t":"set","p":"text","pt":"msg","to":"COMPLETE","tot":"str"},{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"switch","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":620,"wires":[["a720b01a.90046"]]},{"id":"999c046d.14c71","type":"link out","z":"2dbcbfda.d7c6a","name":"Unit 2 LED Pulse Link In","links":["439f39bc.33cf1"],"x":1395,"y":200,"wires":[]},{"id":"41cd52fe.0b6b8c","type":"ui_button","z":"84bf2299.ff8948","name":"Set Unit 1 Empty Level","group":"4fd72aa1.c172dc","order":3,"width":"6","height":"1","passthru":false,"label":"Set Unit 1 Empty Level","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":520,"wires":[["a19a7cb5.aebf88"]]},{"id":"633728e6.cf572","type":"ui_button","z":"84bf2299.ff8948","name":"Set Unit 1 Full Level","group":"4fd72aa1.c172dc","order":4,"width":"6","height":"1","passthru":false,"label":"Set Unit 1 Full Level","tooltip":"","color":"","bgcolor":"blue","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":560,"wires":[["d18b7721.fa0028"]]},{"id":"a19a7cb5.aebf88","type":"function","z":"84bf2299.ff8948","name":"Set Empty Level","func":"var rawlevel = flow.get(\"level\");\n\nvar level0 = +rawlevel - 2;\n\nflow.set(\"calibrate0\", level0);\n\nmsg.payload = level0;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":520,"wires":[[]]},{"id":"d18b7721.fa0028","type":"function","z":"84bf2299.ff8948","name":"Set Full Level","func":"var rawlevel = flow.get(\"level\");\n\nflow.set(\"calibrate100\", rawlevel);","outputs":1,"noerr":0,"x":410,"y":560,"wires":[[]]},{"id":"8a40ec24.290478","type":"ui_button","z":"2dbcbfda.d7c6a","name":"Set Unit 2 Empty Level","group":"4fd72aa1.c172dc","order":7,"width":"6","height":"1","passthru":false,"label":"Set Unit 2 Empty Level","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":520,"wires":[["fabcf15a.750088"]]},{"id":"71b73c74.38b0a4","type":"ui_button","z":"2dbcbfda.d7c6a","name":"Set Unit 2 Full Level","group":"4fd72aa1.c172dc","order":8,"width":"6","height":"1","passthru":false,"label":"Set Unit 2 Full Level","tooltip":"","color":"","bgcolor":"blue","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":560,"wires":[["62ce166d.5006b8"]]},{"id":"fabcf15a.750088","type":"function","z":"2dbcbfda.d7c6a","name":"Set Empty Level","func":"var rawlevel = flow.get(\"level\");\n\nvar level0 = +rawlevel - 2;\n\nflow.set(\"calibrate0\", level0);","outputs":1,"noerr":0,"x":400,"y":520,"wires":[[]]},{"id":"62ce166d.5006b8","type":"function","z":"2dbcbfda.d7c6a","name":"Set Full Level","func":"var rawlevel = flow.get(\"level\");\n\nflow.set(\"calibrate100\", rawlevel);","outputs":1,"noerr":0,"x":410,"y":560,"wires":[[]]},{"id":"61606b0b.8120ec","type":"range","z":"84bf2299.ff8948","minin":"0","maxin":"100","minout":"130","maxout":"50","action":"scale","round":false,"property":"payload","name":"Simulator Range","x":140,"y":320,"wires":[["e0a6184a.a894c8"]]},{"id":"ac6c7bae.705ad","type":"range","z":"2dbcbfda.d7c6a","minin":"0","maxin":"100","minout":"130","maxout":"50","action":"scale","round":false,"property":"payload","name":"Simulator Range","x":140,"y":320,"wires":[["456613d2.56df0c"]]},{"id":"d6e16824.f3749","type":"function","z":"2dbcbfda.d7c6a","name":"Calibrating Scaler","func":"var rawdepth = msg.payload;\n\nflow.set(\"level\", msg.payload);\n\nvar empty = flow.get(\"calibrate0\");\nvar full = flow.get(\"calibrate100\");\n\nxMax = 100;\nxMin = 0;\n\nyMax = full;\nyMin = empty;\n\nvar percent = (rawdepth - yMin) / (yMax - yMin);\nvar levelraw = percent * (xMax - xMin) + xMin;\n\nvar level = Math.trunc(levelraw);\n\n\n\nif (level > 0 && level <=100 ) {\n    msg.enabled = false\n    msg.payload = level\n    return [ msg, msg, msg ]\n}\nelse if (level <= 0){\n    msg.payload = 0\n    msg.enabled = true\n    return [ null, msg, msg ]\n}\nelse if (level > 100 ) {\n    msg.enabled = false\n    msg.payload = 100\n    return [ msg, msg, msg ]\n}\nelse {\n    return [ null, null, null ]\n}","outputs":3,"noerr":0,"x":370,"y":320,"wires":[["b7ee30ed.37baf8"],["41318bdc.353e84"],["ac02f46.23f9a88","77a95bfb.d2651c"]]},{"id":"89733a7b.d730a","type":"function","z":"84bf2299.ff8948","name":"Green LED Emulator","func":"var state = msg.payload;\n\nif (state === true){\n    msg.background = \"green\";\n    msg.text = \"ON\";\n}\nelse {\n    msg.background = \"gray\";\n    msg.text = \"OFF\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":760,"wires":[["f4750f67.cee018"]]},{"id":"60216f58.d4b4c8","type":"function","z":"84bf2299.ff8948","name":"Blue LED Emulator","func":"var state = msg.payload;\n\nif (state === true){\n    msg.background = \"blue\";\n    msg.text = \"ON\";\n}\nelse {\n    msg.background = \"gray\";\n    msg.text = \"OFF\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":660,"wires":[["11c9d507.478f8b"]]},{"id":"4db6a30a.6389b4","type":"function","z":"84bf2299.ff8948","name":"Amber LED Emulator","func":"var state = msg.payload;\n\nif (state === true){\n    msg.background = \"yellow\";\n    msg.text = \"ON\";\n}\nelse {\n    msg.background = \"gray\";\n    msg.text = \"OFF\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":860,"wires":[["45b2513e.505a4"]]},{"id":"f8240394.589bf","type":"function","z":"84bf2299.ff8948","name":"Red LED Emulator","func":"var state = msg.payload;\n\nif (state === true){\n    msg.background = \"red\";\n    msg.text = \"ON\";\n}\nelse {\n    msg.background = \"gray\";\n    msg.text = \"OFF\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1160,"wires":[["3719ba35.8183ce"]]},{"id":"403d24ca.47d1c4","type":"function","z":"84bf2299.ff8948","name":"Amber LED Emulator","func":"var state = msg.payload;\n\nif (state === true){\n    msg.background = \"yellow\";\n    msg.text = \"ON\";\n}\nelse {\n    msg.background = \"gray\";\n    msg.text = \"OFF\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":960,"wires":[["c2d29559.55255"]]},{"id":"23920c81.09a42c","type":"function","z":"84bf2299.ff8948","name":"Red LED Emulator","func":"var state = msg.payload;\n\nif (state === true){\n    msg.background = \"red\";\n    msg.text = \"ON\";\n}\nelse {\n    msg.background = \"gray\";\n    msg.text = \"OFF\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1060,"wires":[["b8ddb6ed.f1f18"]]},{"id":"27bfaa65.9162c6","type":"function","z":"2dbcbfda.d7c6a","name":"Blue LED Emulator","func":"var state = msg.payload;\n\nif (state === true){\n    msg.background = \"blue\";\n    msg.text = \"ON\";\n}\nelse {\n    msg.background = \"gray\";\n    msg.text = \"OFF\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":660,"wires":[["d4d84759.148fd8"]]},{"id":"f115a66c.1bd648","type":"function","z":"2dbcbfda.d7c6a","name":"Green LED Emulator","func":"var state = msg.payload;\n\nif (state === true){\n    msg.background = \"green\";\n    msg.text = \"ON\";\n}\nelse {\n    msg.background = \"gray\";\n    msg.text = \"OFF\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":760,"wires":[["9a2318b3.35d8a8"]]},{"id":"7885f496.8f668c","type":"function","z":"2dbcbfda.d7c6a","name":"Amber LED Emulator","func":"var state = msg.payload;\n\nif (state === true){\n    msg.background = \"yellow\";\n    msg.text = \"ON\";\n}\nelse {\n    msg.background = \"gray\";\n    msg.text = \"OFF\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":860,"wires":[["d9e83cea.735d7"]]},{"id":"532e2759.5a86","type":"function","z":"2dbcbfda.d7c6a","name":"Amber LED Emulator","func":"var state = msg.payload;\n\nif (state === true){\n    msg.background = \"yellow\";\n    msg.text = \"ON\";\n}\nelse {\n    msg.background = \"gray\";\n    msg.text = \"OFF\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":960,"wires":[["8e935faa.920578"]]},{"id":"47028cc4.7ac944","type":"function","z":"2dbcbfda.d7c6a","name":"Red LED Emulator","func":"var state = msg.payload;\n\nif (state === true){\n    msg.background = \"red\";\n    msg.text = \"ON\";\n}\nelse {\n    msg.background = \"gray\";\n    msg.text = \"OFF\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1060,"wires":[["5fd4b3d.72bf8cc"]]},{"id":"970c9346.bda06","type":"function","z":"2dbcbfda.d7c6a","name":"Red LED Emulator","func":"var state = msg.payload;\n\nif (state === true){\n    msg.background = \"red\";\n    msg.text = \"ON\";\n}\nelse {\n    msg.background = \"gray\";\n    msg.text = \"OFF\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1160,"wires":[["d773bd8.74a1a4"]]},{"id":"a1cf6c.ffeae09","type":"ui_button","z":"7febcf1a.2b2de8","name":"Reboot","group":"4fd72aa1.c172dc","order":16,"width":0,"height":0,"passthru":true,"label":"REBOOT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"sudo reboot","payloadType":"str","topic":"","x":340,"y":920,"wires":[["22fdecab.e01984"]]},{"id":"36581177.8fd84e","type":"ui_button","z":"544f8302.625e74","name":"","group":"a01ac619.442a98","order":2,"width":"2","height":"2","passthru":false,"label":"1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"keypad","x":170,"y":1160,"wires":[["b7a3b322.0d15a"]]},{"id":"4c547691.ff452","type":"ui_button","z":"544f8302.625e74","name":"","group":"a01ac619.442a98","order":3,"width":"2","height":"2","passthru":false,"label":"2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"str","topic":"keypad","x":330,"y":1160,"wires":[["b7a3b322.0d15a"]]},{"id":"d16d7078.124a78","type":"ui_button","z":"544f8302.625e74","name":"","group":"a01ac619.442a98","order":4,"width":"2","height":"2","passthru":false,"label":"3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"str","topic":"keypad","x":490,"y":1160,"wires":[["b7a3b322.0d15a"]]},{"id":"d03660a4.fa8268","type":"ui_button","z":"544f8302.625e74","name":"","group":"a01ac619.442a98","order":5,"width":"2","height":"2","passthru":false,"label":"4","tooltip":"","color":"","bgcolor":"","icon":"","payload":"4","payloadType":"str","topic":"keypad","x":170,"y":1200,"wires":[["b7a3b322.0d15a"]]},{"id":"406a6673.52b7b","type":"ui_button","z":"544f8302.625e74","name":"","group":"a01ac619.442a98","order":6,"width":"2","height":"2","passthru":false,"label":"5","tooltip":"","color":"","bgcolor":"","icon":"","payload":"5","payloadType":"str","topic":"keypad","x":330,"y":1200,"wires":[["b7a3b322.0d15a"]]},{"id":"9a49a0ef.452ea8","type":"ui_button","z":"544f8302.625e74","name":"","group":"a01ac619.442a98","order":7,"width":"2","height":"2","passthru":false,"label":"6","tooltip":"","color":"","bgcolor":"","icon":"","payload":"6","payloadType":"str","topic":"keypad","x":490,"y":1200,"wires":[["b7a3b322.0d15a"]]},{"id":"8264ef61.cf82b","type":"ui_button","z":"544f8302.625e74","name":"","group":"a01ac619.442a98","order":8,"width":"2","height":"2","passthru":false,"label":"7","tooltip":"","color":"","bgcolor":"","icon":"","payload":"7","payloadType":"str","topic":"keypad","x":170,"y":1240,"wires":[["b7a3b322.0d15a"]]},{"id":"45b614d5.fcba24","type":"ui_button","z":"544f8302.625e74","name":"","group":"a01ac619.442a98","order":9,"width":"2","height":"2","passthru":false,"label":"8","tooltip":"","color":"","bgcolor":"","icon":"","payload":"8","payloadType":"str","topic":"keypad","x":330,"y":1240,"wires":[["b7a3b322.0d15a"]]},{"id":"7ed963f1.9563d4","type":"ui_button","z":"544f8302.625e74","name":"","group":"a01ac619.442a98","order":10,"width":"2","height":"2","passthru":false,"label":"9","tooltip":"","color":"","bgcolor":"","icon":"","payload":"9","payloadType":"str","topic":"keypad","x":490,"y":1240,"wires":[["b7a3b322.0d15a"]]},{"id":"cd0d628a.661288","type":"ui_button","z":"544f8302.625e74","name":"","group":"a01ac619.442a98","order":12,"width":"2","height":"1","passthru":false,"label":"0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"keypad","x":170,"y":1300,"wires":[["b7a3b322.0d15a"]]},{"id":"45eede5f.3404a8","type":"ui_button","z":"544f8302.625e74","name":"","group":"a01ac619.442a98","order":11,"width":"2","height":"1","passthru":false,"label":"CLEAR","tooltip":"","color":"","bgcolor":"","icon":"","payload":"clear","payloadType":"str","topic":"","x":180,"y":1380,"wires":[["b7a3b322.0d15a"]]},{"id":"bed7f10c.4564c","type":"ui_button","z":"544f8302.625e74","name":"","group":"a01ac619.442a98","order":13,"width":"2","height":"1","passthru":false,"label":"DELETE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"delete","payloadType":"str","topic":"keypad","x":180,"y":1340,"wires":[["b7a3b322.0d15a"]]},{"id":"b7a3b322.0d15a","type":"function","z":"544f8302.625e74","name":"Build Key","func":"var key = msg.payload\n\nvar oldkey = flow.get(\"keypad\");\n\nswitch (key) {\n    case \"delete\":\n        msg.payload = oldkey.slice(0, -1);\n        break;\n    case \"clear\":\n        msg.payload = \"\";\n        break;\n    default:\n        msg.payload = oldkey + key;\n        break;\n}\nflow.set(\"keypad\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1380,"wires":[[]]},{"id":"dae4dd78.e2358","type":"ui_button","z":"544f8302.625e74","name":"Enter","group":"a01ac619.442a98","order":15,"width":"3","height":"2","passthru":false,"label":"Enter","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"","payloadType":"str","topic":"","x":690,"y":1280,"wires":[["ef2840be.7c6c4"]]},{"id":"ef2840be.7c6c4","type":"switch","z":"544f8302.625e74","name":"","property":"keypad","propertyType":"flow","rules":[{"t":"neq","v":"24601","vt":"str"},{"t":"eq","v":"24601","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":730,"y":1380,"wires":[["5786c038.4d19","6e618aba.0503bc"],["6e618aba.0503bc","9a00256f.78fda"]]},{"id":"5786c038.4d19","type":"change","z":"544f8302.625e74","name":"Bad Key!","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[\"Tech_Page_KeyPad\"],\"show\":[\"Tech_Page_Bad_Key\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1260,"wires":[["4551985b.346b58","3d95ae7.a1c06d2"]]},{"id":"4551985b.346b58","type":"delay","z":"544f8302.625e74","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1040,"y":1320,"wires":[["e38582ae.800bf8"]]},{"id":"e38582ae.800bf8","type":"change","z":"544f8302.625e74","name":"Hide all but Keypad","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"show\":[\"Tech_Page_KeyPad\"],\"hide\":[\"Tech_Page_Bad_Key\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":1380,"wires":[["3d95ae7.a1c06d2"]]},{"id":"6e618aba.0503bc","type":"change","z":"544f8302.625e74","name":"Clear Key","rules":[{"t":"set","p":"payload","pt":"msg","to":"clear","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":1420,"wires":[["b7a3b322.0d15a"]]},{"id":"2a29ffdf.aeb06","type":"ui_button","z":"544f8302.625e74","name":"Bad Key","group":"5b127756.4a8bc","order":3,"width":"6","height":"9","passthru":false,"label":"INVALID CODE","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":860,"y":1240,"wires":[[]]},{"id":"15af373f.ea7681","type":"comment","z":"544f8302.625e74","name":"PIN Code Entry","info":"Start Page PIN Code Entry\n\nSuccesful entry flips to the Enter Date Page and\nclears the entry.\n\nUnsuccesful Entry shows a Red \"Invalid Entry\" page for\n2 seconds, clears the entry and returns to the kaypad.","x":380,"y":1100,"wires":[]},{"id":"9a00256f.78fda","type":"change","z":"544f8302.625e74","name":"Flip to Tech Page","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[\"Tech_Page_KeyPad\"],\"show\":[\"Tech_Page_Tech_Page\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":1420,"wires":[["3d95ae7.a1c06d2"]]},{"id":"6c191089.713b4","type":"link in","z":"544f8302.625e74","name":"Initialize System Out 1","links":["af8f16b2.ad2708","da71f5f3.45486","ff004545.05274"],"x":135,"y":1420,"wires":[["6e618aba.0503bc"]]},{"id":"7af64a36.ff61fc","type":"change","z":"544f8302.625e74","name":"Hide Time Page","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[\"Start_Page_Set_Time\"],\"show\":[\"Dual_Use_Master_Group\"]}}","tot":"json"},{"t":"set","p":"DateState","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":920,"wires":[["3d95ae7.a1c06d2"]]},{"id":"1715383f.5a6028","type":"delay","z":"7febcf1a.2b2de8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":730,"y":560,"wires":[["42b77e51.7f47"]]},{"id":"42b77e51.7f47","type":"change","z":"7febcf1a.2b2de8","name":"Enter PIN","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[\"Tech_Page_Tech_Page\"],\"show\":[\"Tech_Page_KeyPad\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":560,"wires":[["bdd4edfd.fd373"]]},{"id":"6dc2d1a3.137df8","type":"ui_button","z":"7febcf1a.2b2de8","name":"Flip to Tech Page","group":"99ac80c6.28913","order":25,"width":"2","height":"3","passthru":false,"label":"TECH PAGE","tooltip":"","color":"","bgcolor":"orange","icon":"","payload":"","payloadType":"date","topic":"","x":710,"y":520,"wires":[["a22ab029.4b53b8"]]},{"id":"cd7454f9.ddac98","type":"ui_button","z":"544f8302.625e74","name":"Back","group":"a01ac619.442a98","order":15,"width":"3","height":"2","passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":690,"y":1200,"wires":[["ee565cd2.78439","5c8daee9.010018"]]},{"id":"4b840768.1f37f","type":"switch","z":"544f8302.625e74","name":"UI Con/Discon FB","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"connect","vt":"str"},{"t":"eq","v":"lost","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":160,"wires":[["16eecca2.977053"],["fc3c1bee.5dbb7"]]},{"id":"481898bb.ba671","type":"link in","z":"84bf2299.ff8948","name":"Unit 1 Initialize","links":["ff004545.05274"],"x":575,"y":380,"wires":[["7ed7a739.10db28"]]},{"id":"7ed7a739.10db28","type":"change","z":"84bf2299.ff8948","name":"Initialize 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":380,"wires":[["576355bb.4bb24c","b6b12aa4.540fd8"]]},{"id":"1c647243.57f376","type":"link in","z":"2dbcbfda.d7c6a","name":"Unit 2 Initialize","links":["ff004545.05274"],"x":575,"y":380,"wires":[["f0d474e9.0266b8"]]},{"id":"f0d474e9.0266b8","type":"change","z":"2dbcbfda.d7c6a","name":"Initialize 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":380,"wires":[["a60961.74b646a","f94959d8.ced17"]]},{"id":"dfe4ea91.2f9498","type":"inject","z":"544f8302.625e74","name":"Initialize Global Variables","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"1","x":170,"y":40,"wires":[["587fc00b.51ef8"]]},{"id":"587fc00b.51ef8","type":"change","z":"544f8302.625e74","name":"","rules":[{"t":"set","p":"Connected","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"DateState","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"TechState","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"log","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":40,"wires":[["ff004545.05274"]]},{"id":"16eecca2.977053","type":"change","z":"544f8302.625e74","name":"Var Connected True","rules":[{"t":"set","p":"Connected","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":140,"wires":[["13871655.3059aa"]]},{"id":"13871655.3059aa","type":"switch","z":"544f8302.625e74","name":"","property":"DateState","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":140,"wires":[["9791d15b.f17898"],["ba0a6f32.51ea5","828186b7.eed858"]]},{"id":"ba0a6f32.51ea5","type":"delay","z":"544f8302.625e74","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":220,"wires":[["43bb143b.16b7fc"]]},{"id":"828186b7.eed858","type":"change","z":"544f8302.625e74","name":"Hide all but Set Date","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[\"Start_Page_Set_Time\",\"Tech_Page_Bad_Key\",\"Tech_Page_Tech_Page\"],\"show\":[\"Start_Page_Set_Date\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":180,"wires":[["3d95ae7.a1c06d2"]]},{"id":"86173af9.ba7028","type":"link in","z":"544f8302.625e74","name":"UI Feedback Out","links":["aa1224e9.abded"],"x":75,"y":160,"wires":[["4b840768.1f37f"]]},{"id":"aa1224e9.abded","type":"link out","z":"544f8302.625e74","name":"UI Feedback In","links":["86173af9.ba7028"],"x":1435,"y":640,"wires":[]},{"id":"fc3c1bee.5dbb7","type":"change","z":"544f8302.625e74","name":"Var Connected False","rules":[{"t":"set","p":"Connected","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":200,"wires":[[]]},{"id":"dc1547a4.a87b7","type":"comment","z":"544f8302.625e74","name":"Set Pi Date/Time","info":"Set Pi Date to match entered data","x":220,"y":840,"wires":[]},{"id":"ef4f0f59.7822e","type":"link in","z":"544f8302.625e74","name":"UI Control Link Out","links":["6f0dcf36.6c3e3","8320a20a.bf3ab","ac8ba135.a00c5","af8f16b2.ad2708","bdd4edfd.fd373","19b00368.885d15","6c5ac6cb.5cea9","34d24f0a.609788","da71f5f3.45486","53b7e663.8dc43"],"x":795,"y":640,"wires":[["3d95ae7.a1c06d2"]]},{"id":"ff004545.05274","type":"link out","z":"544f8302.625e74","name":"Initialize System In 1","links":["6c191089.713b4","481898bb.ba671","1c647243.57f376","a1414d7d.1886a8"],"x":1215,"y":40,"wires":[]},{"id":"ee565cd2.78439","type":"change","z":"544f8302.625e74","name":"Flip to Main Page","rules":[{"t":"set","p":"payload","pt":"msg","to":"Dual Use","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":1060,"wires":[["3d95ae7.a1c06d2"]]},{"id":"50addcf0.61fd5c","type":"exec","z":"7febcf1a.2b2de8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":970,"y":60,"wires":[[],[],[]]},{"id":"fbd015be.4629c8","type":"inject","z":"7febcf1a.2b2de8","name":"Wipe Event Log","topic":"","payload":"> /home/pi/node-red-logging/event.log","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":780,"y":60,"wires":[["50addcf0.61fd5c"]]},{"id":"485c72ce.2cffa4","type":"file","z":"7febcf1a.2b2de8","name":"Log Event","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":960,"y":120,"wires":[["78725c0a.c6d1e4"]]},{"id":"74cccf83.dfdaf8","type":"delay","z":"7febcf1a.2b2de8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":120,"wires":[["484dfcf7.b0422c"]]},{"id":"484dfcf7.b0422c","type":"change","z":"7febcf1a.2b2de8","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"/home/pi/node-red-logging/event.log","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":120,"wires":[["485c72ce.2cffa4"]]},{"id":"77a95bfb.d2651c","type":"change","z":"2dbcbfda.d7c6a","name":"Clear Disable","rules":[{"t":"delete","p":"enabled","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":500,"wires":[["3d9555dd.c02cda"]]},{"id":"75f719b4.430988","type":"change","z":"84bf2299.ff8948","name":"Clear Disable","rules":[{"t":"delete","p":"enabled","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":500,"wires":[["197f12b5.c30935"]]},{"id":"54d26a4e.a3fbb4","type":"change","z":"7febcf1a.2b2de8","name":"Prep to write log","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":220,"wires":[["2affd7c6.42ef88"]]},{"id":"78725c0a.c6d1e4","type":"trigger","z":"7febcf1a.2b2de8","op1":"","op2":"false","op1type":"nul","op2type":"bool","duration":"5","extend":true,"units":"s","reset":"","bytopic":"all","name":"Clean up after Log","x":550,"y":220,"wires":[["2affd7c6.42ef88"]]},{"id":"731bd9f5.aebc68","type":"delay","z":"7febcf1a.2b2de8","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":310,"y":180,"wires":[["54d26a4e.a3fbb4"]]},{"id":"34e3f02.957649","type":"change","z":"84bf2299.ff8948","name":"","rules":[{"t":"delete","p":"enabled","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1220,"wires":[["3f32efe0.eadc08","f8240394.589bf"]]},{"id":"347fd36d.bd7b3c","type":"change","z":"2dbcbfda.d7c6a","name":"","rules":[{"t":"delete","p":"enabled","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1220,"wires":[["d0a89806.94b138","970c9346.bda06"]]},{"id":"cf2ab2e6.5d67e8","type":"inject","z":"7febcf1a.2b2de8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1020,"wires":[["a1cf6c.ffeae09"]]},{"id":"e0a6184a.a894c8","type":"function","z":"84bf2299.ff8948","name":"False Jump Eliminator","func":"var rawdepth = msg.payload;\nvar olddepth = flow.get(\"level\");\n\n\nif (rawdepth < (olddepth - 10)){\n    msg.payload = olddepth\n    return msg\n}\nelse;{\n    return msg\n}\n  ","outputs":1,"noerr":0,"x":380,"y":260,"wires":[["eb44350.a6631c8"]]},{"id":"d1c145de.31d6a8","type":"inject","z":"544f8302.625e74","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":740,"y":1480,"wires":[["9a00256f.78fda"]]},{"id":"61b447f5.ae8b48","type":"inject","z":"7febcf1a.2b2de8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":740,"y":480,"wires":[["a22ab029.4b53b8"]]},{"id":"456613d2.56df0c","type":"function","z":"2dbcbfda.d7c6a","name":"False Jump Eliminator","func":"var rawdepth = msg.payload;\nvar olddepth = flow.get(\"level\");\n\n\nif (rawdepth < (olddepth - 10)){\n    msg.payload = olddepth\n    return msg\n}\nelse;{\n    return msg\n}\n  ","outputs":1,"noerr":0,"x":380,"y":260,"wires":[["d6e16824.f3749"]]},{"id":"7f036426.8be9f4","type":"inject","z":"7febcf1a.2b2de8","name":"Set FS to RW","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":280,"wires":[["2affd7c6.42ef88"]]}]